<div id="app">
    {{ message }}
    <p v-if="visiabled"  v-bind:title="message"> V-BIND</p>
    <ol>
       <li v-for="todo in todos">{{ todo.text }}</li>
    </ol>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            visiabled: true,
            todos: [
                { text: 'learn python' },
                { text: 'learn js' },
                { text: 'learn vue' },
            ]
        }
    })
</script>
