<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="myApp">
    <button v-on:click="counter += 1">Add 1</button>
    <br>
    <button v-on:click="counter -= 1">Sub 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
    <button v-on:click="greet">Greet</button>
    <button v-on:click="say('hi')">Say hi</button>
    <button v-on:click="say('hello')">Say hello</button>
    <hr>
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>

    <hr>
    <span>Multiline messages is :</span>
    <p style="white-space: pre-line"> {{ messages }} </p>
    <br>
    <textarea v-model="messages" placeholder="add multiple lines" cols="30" rows="10"></textarea>
    <hr>
    <input type="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <hr>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    <hr>
    <input type="radio" id="one" value="one" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="two" v-model="picked">
    <label for="two">two</label>
    <br>
    <span>Picked: {{ picked }}</span>
    <hr>
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option >A</option>
        <option >B</option>
        <option >C</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var myApp = new Vue({
        el: '#myApp',
        data: {
            counter: 0,
            name: 'Vue.js',
            message: '',
            messages: '',
            picked: '',
            selected: '',
            checked: false,
            checkedNames: [],
        },
        methods: {
            greet: function () {
               alert('hello' + this.name + '!');
               if (event) {
                   alert(event.target.tagName)
               }
            },
            say: function (val) {
               alert('say ' + val)
            }
        },
    });
//    myApp.greet();
</script>
</body>
</html>