<div id="app">
    {{ message }}
    <p v-if="visiabled"  v-bind:title="message"> V-BIND</p>
    <ol>
       <li v-for="(todo, idx) in todos">{{idx}} --{{ todo.text }}</li>
    </ol>
    <ol>
       <li v-for="(todo, idx) in people">{{idx}} --{{ todo.name }}</li>
    </ol>
    <button v-on:click="reverseMessage">逆转消息</button>
    <br>
    <input v-model="message">
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            visiabled: true,
            todos: [
                { text: 'learn python' },
                { text: 'learn js' },
                { text: 'learn vue' },
            ],
            people: [{
                    name: 'Jack',
                    age: 30,
                    sex: 'Male'
                }, {
                    name: 'Bill',
                    age: 26,
                    sex: 'Male'
                }, {
                    name: 'Tracy',
                    age: 22,
                    sex: 'Female'
                }, {
                    name: 'Chris',
                    age: 36,
                    sex: 'Male'
                }]
        },
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('');
            }
        }
    })
</script>
