<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div id="myApp">
    <h2>你最喜欢的NBA球星是：</h2>
    <select v-model="likedNBAStar" style="width: 210px;">
        <option >科比</option>
        <option >哈登</option>
        <option >詹姆斯</option>
    </select>
    <br>

    <select v-model="likedNBAStars" multiple style="width: 210px;height: 210px;">
        <option >科比</option>
        <option >哈登</option>
        <option >詹姆斯</option>
    </select>

    <hr>
    <h3>选择结果是:</h3>
    <p>我最喜欢:{{ likedNBAStar }}</p>
    <p>我最喜欢的全明星:{{ likedNBAStars }}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
     var myApp = new Vue({
         el: '#myApp',
         data: {
             likedNBAStar: '',
             likedNBAStars: [],
         },
         methods: {
         },
     });
</script>
</body>
</html>