aiocache==0.8.0
aiofiles==0.3.2
aioredis==1.1.0
async-timeout==2.0.0
feedparser==5.2.1
grpcio==1.10.0
grpcio-tools==1.10.0
grpclib==0.1.0rc2
h2==3.0.1
hiredis==0.2.0
hpack==3.0.0
httptools==0.0.10
hyperframe==5.1.0
Jinja2==2.10
MarkupSafe==1.0
multidict==4.1.0
protobuf==3.5.2
sanic==0.7.0
Sanic-Cors==0.9.3
Sanic-Plugins-Framework==0.5.2.dev20180201
sanic-session==0.1.5
six==1.11.0
ujson==5.4.0
uvloop==0.9.1
websockets==4.0.1
